{% load static %}
 <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-12 col-md-6 col-lg-4 mb-3">
            
                <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">      
                    <img src="{% static 'img/logos/logo_trans.png' %}" alt="Logo" style="height: 110px; width: 100px;" loading="lazy">
                </a>
            </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <p class="text-muted">NUST, PHOENIX TEAM &copy; 2024</p>
        </ul>
        
    </footer>
</div>

