{% load static %}

<div class="container-fluid p-5 text-center bg-image"
     style="
     background-image: url('{% static 'img/bg/bg_01.png' %}'); 
     height: 800px;
     background-size: cover; /* Ensures the background covers the entire area */
     background-position: center; /* Center the background image */
     background-attachment: fixed;">
    
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);"> <!-- Darker mask -->

        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">NUST ANNUAL PROGRAMMING COMPETITION COMMUNITY</h1>
                <h2 class="mb-3">WHO WE ARE!</h2>  
                <div>
                    <p class="lead" style="font-weight: 800;">
                        Welcome to the Annual Programming Competition, proudly organized by the Faculty of Computing and Informatics (FCI) at NUST!<br/> 
                        This exhilarating event is designed to ignite your passion for coding and foster a spirit of innovation among aspiring programmers.
                        <br/> 
                        In this thrilling competition, learners and students from various high schools and tertiary institutions come together to showcase their skills in critical thinking and problem-solving. 
                        <br/> 
                        Whether you’re a seasoned coder or just starting your programming journey, this is your chance to challenge yourself, collaborate with peers, and push the boundaries of what’s possible.

                    </p>
                </div> 
                <a href="https://www.linkedin.com/in/tinomudaishe-ndhlovu/" target="_blank" class="btn btn-outline-success btn-lg hover">JOIN COMMUNITY!</a>
            </div>
        </div>            

    </div>
</div>
