{% extends "../base.html" %}

{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

    <center><h1> <u><>HAPPY CODING<</>></u></h1><center>

    <div class="container my-5">
        <div class="row">
            <!-- Forum Card -->
            <div class="col-md-4 mb-4">
                <a href="{% url 'forumApp:question_list' %}" class="text-decoration-none">
                    <div class="card card-hover">
                        <div class="card-body text-center">
                            <i class="fas fa-comments fa-3x mb-3 text-primary"></i>
                            <h5 class="card-title">Forum</h5>
                            <p class="card-text">Join discussions, ask questions, and connect with others on various topics.</p>
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- Archives Card -->
            <div class="col-md-4 mb-4">
                <a href="{% url "archivesApp:book_list" %}" class="text-decoration-none">
                    <div class="card card-hover">
                        <div class="card-body text-center">
                            <i class="fas fa-archive fa-3x mb-3 text-success"></i>
                            <h5 class="card-title">Archives</h5>
                            <p class="card-text">Browse past content and resources available for reference and learning.</p>
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- Polls Card -->
            <div class="col-md-4 mb-4">
                <a href="#" class="text-decoration-none">
                    <div class="card card-hover">
                        <div class="card-body text-center">
                            <i class="fas fa-poll-h fa-3x mb-3 text-warning"></i>
                            <h5 class="card-title">Polls</h5>
                            <p class="card-text">Participate in surveys, share your views, and help shape our community.</p>
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- Mentorship Card -->
            <div class="col-md-4 mb-4">
                <a href="#" class="text-decoration-none">
                    <div class="card card-hover">
                        <div class="card-body text-center">
                            <i class="fas fa-handshake fa-3x mb-3 text-danger"></i>
                            <h5 class="card-title">Mentorship</h5>
                            <p class="card-text">Connect with mentors for guidance, support, and personal growth.</p>
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- Library Card -->
            <div class="col-md-4 mb-4">
                <a href="#" class="text-decoration-none">
                    <div class="card card-hover">
                        <div class="card-body text-center">
                            <i class="fas fa-book fa-3x mb-3 text-info"></i>
                            <h5 class="card-title">Library</h5>
                            <p class="card-text">Access a collection of articles, ebooks, and other resources for learning.</p>
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- Resources Card -->
            <div class="col-md-4 mb-4">
                <a href="#" class="text-decoration-none">
                    <div class="card card-hover">
                        <div class="card-body text-center">
                            <i class="fas fa-toolbox fa-3x mb-3 text-secondary"></i>
                            <h5 class="card-title">Resources</h5>
                            <p class="card-text">Discover tools, templates, and materials to aid your journey.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>



    

    {% else %}

        <div class="container text-center mt-5">


        <center><h1> <u>Proudly Sponsored By! </u></h1><center>
        {% comment %} <p>
            OUR APPRECIATION FOR OUR SPONSORS
        </p> {% endcomment %}
    </div>
    <!-- Sponsor Gallery -->
    <div class="container mt-5">
        <div class="row mt-4">
            <div class="col-lg-3 col-md-3 col-sm-6 mb-4"> <!-- 4 in a row for large screens -->
                <img src="{% static 'img/sponsors/mtc.png' %}" class="img-fluid" alt="Sponsor 1" style="max-height: 200px;">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
                <img src="{% static 'img/sponsors/shine_tech.jpeg' %}" class="img-fluid" alt="Sponsor 2" style="max-height: 200px;">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
                <img src="{% static 'img/sponsors/telecom2.png' %}" class="img-fluid" alt="Sponsor 3" style="max-height: 200px;">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
                <img src="{% static 'img/sponsors/blue_sky.png' %}" class="img-fluid" alt="Sponsor 4" style="max-height: 200px;">
            </div>
            
        </div>
        <center>

    </div>


    <center><h1> <u>Platform Features </u></h1><center>

    <!-- LIST OF FEATURES FOUND ON SITE -->
    <div class="row">
        <!-- 2024 Events Section -->
        <div class="col-12 col-md-4 mb-4">
            <div class="card" style="box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.3);">
                <div class="card-header bg-primary text-white">
                    <h2 class="h4 m-0">Blogging</h2>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Access to Top Knowledge</h3>
                    <p><strong>Info:</strong> This platform allows you to quickly create and share articles. This will also allow you to easily see upcoming changes</p>
                    <p><strong>Registration Link:</strong> <a href="#">Register Here</a></p>
                </div>
            </div>
        </div>

        <!-- 2023 Events Section -->
        <div class="col-12 col-md-4 mb-4">
            <div class="card" style="box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.3);">
                <div class="card-header bg-primary text-white">
                    <h2 class="h4 m-0">Communication</h2>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Easy In-built Communication</h3>
                    <p><strong>Info:</strong> This platform allows you to gain a mentor and communicate directly with fellow members.</p>
                    <p><strong>Registration Link:</strong> <a href="#">Register Here</a></p>
                </div>
            </div>
        </div>

        <!-- 2022 Events Section -->
        <div class="col-12 col-md-4 mb-4">
            <div class="card" style="box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.3);">
                <div class="card-header bg-primary text-white">
                    <h2 class="h4 m-0">Stack Answers</h2>
                </div>
                <div class="card-body">
                    <h3 class="card-title">QnA</h3>
                    <p><strong>Info:</strong> This platform allows you to access information by having your questions upvoted.</p>
                    <p><strong>Registration Link:</strong> <a href="#">Register Here</a></p>
                </div>
            </div>
        </div>
    </div>

  
       

    {% endif %}


{% endblock %}
