{% extends "../base.html" %}

{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <center><h1> <u>Proudly Sponsored By! </u></h1><center>
        {% comment %} <p>
            OUR APPRECIATION FOR OUR SPONSORS
        </p> {% endcomment %}
    </div>
    <!-- Sponsor Gallery -->
    <div class="container mt-5">
        <div class="row mt-4">
            <div class="col-lg-3 col-md-3 col-sm-6 mb-4"> <!-- 4 in a row for large screens -->
                <img src="{% static 'img/sponsors/mtc.png' %}" class="img-fluid" alt="Sponsor 1" style="max-height: 200px;">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
                <img src="{% static 'img/sponsors/shine_tech.jpeg' %}" class="img-fluid" alt="Sponsor 2" style="max-height: 200px;">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
                <img src="{% static 'img/sponsors/telecom2.png' %}" class="img-fluid" alt="Sponsor 3" style="max-height: 200px;">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
                <img src="{% static 'img/sponsors/blue_sky.png' %}" class="img-fluid" alt="Sponsor 4" style="max-height: 200px;">
            </div>
            
        </div>
        <center>

    </div>


    <center><h1> <u>Platform Features </u></h1><center>

    <!-- LIST OF FEATURES FOUND ON SITE -->
    <div class="row">
        <!-- 2024 Events Section -->
        <div class="col-12 col-md-4 mb-4">
            <div class="card" style="box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.3);">
                <div class="card-header bg-primary text-white">
                    <h2 class="h4 m-0">Blogging</h2>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Access to Top Knowledge</h3>
                    <p><strong>Info:</strong> This platform allows you to quickly create and share articles. This will also allow you to easily see upcoming changes</p>
                    <p><strong>Registration Link:</strong> <a href="#">Register Here</a></p>
                </div>
            </div>
        </div>

        <!-- 2023 Events Section -->
        <div class="col-12 col-md-4 mb-4">
            <div class="card" style="box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.3);">
                <div class="card-header bg-primary text-white">
                    <h2 class="h4 m-0">Communication</h2>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Easy In-built Communication</h3>
                    <p><strong>Info:</strong> This platform allows you to gain a mentor and communicate directly with fellow members.</p>
                    <p><strong>Registration Link:</strong> <a href="#">Register Here</a></p>
                </div>
            </div>
        </div>

        <!-- 2022 Events Section -->
        <div class="col-12 col-md-4 mb-4">
            <div class="card" style="box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.3);">
                <div class="card-header bg-primary text-white">
                    <h2 class="h4 m-0">Stack Answers</h2>
                </div>
                <div class="card-body">
                    <h3 class="card-title">QnA</h3>
                    <p><strong>Info:</strong> This platform allows you to access information by having your questions upvoted.</p>
                    <p><strong>Registration Link:</strong> <a href="#">Register Here</a></p>
                </div>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}

    {% else %}
        <!-- Sign In / Sign Up Card -->
        <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-4" style="width: 350px; box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);">
                <div class="card-body text-center">
                    <h3 class="card-title mb-4">Welcome Back!</h3>
                    <p class="mb-4">Sign in or sign up to access all features of our platform.</p>
                    <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg btn-block mb-3">Sign In</a>
                    <a href="{% url 'account_signup' %}" class="btn btn-outline-primary btn-lg btn-block">Sign Up</a>
                </div>
            </div>
        </div>

    {% endif %}


{% endblock %}
